body {
    margin:2%;   
    padding-left: 10px;
    padding-right: 10px;
    color:black;
    background-color:aliceblue;
}

blockquote {
    margin:1em 3em;
    color:slategray;
    border-left: 2px solid #999;
    padding: left 3em;
    padding-left: 10px;
}

h1 {
    color:rgba(8, 8, 83, 0.904); 
    text-align: center;   
}

h2 { 
    color:darkblue; 
    margin:0; 
}

.blackborder { 
    font:bold; 
    font-size:medium;
    color:black;
    font-family:'Arial Narrow', Arial, sans-serif 
    list-style:disc; 
}

.type1 { 
    border-style:solid;
    border-color:navy; 
}

.type2 {
    border-style:ridge;
    border-color:rgb(10, 8, 10);
}
.type3 { 
    border-style:groove;  
    border-color:cornflowerblue; 
}
.type4 { 
   border-style: outset;
   border-color:blue;  
}